body {
  font-family: "Roboto", sans-serif;
}

.l-outer {
  padding: 0 20px;
}
.l-inner {
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
}

.l-header {
  background-color: #1f2937;
  padding: 0 20px;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  padding: 20px 0;
  margin: 0 auto;
}
.l-header__logo {
  color: #f9faf8;
  font-size: 24px;
  letter-spacing: 0.01em;
}
.l-header__nav-list {
  display: flex;
}
.l-header__nav-item {
  margin-left: 25px;
  color: #e5e7eb;
  font-size: 18px;
}

.l-footer {
  margin-top: 100px;
  padding: 0 20px;
  background-color: #1f2937;
}
.l-footer__inner {
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 0;
}
.l-footer__copy {
  color: #e5e7eb;
  font-size: 18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
}

.p-hero {
  background-color: #1f2937;
}
.p-hero__inner {
  display: flex;
  padding: 98px 0 135px;
}
.p-hero__col {
  flex: 1;
  margin-top: 6px;
}
.p-hero__ttl {
  color: #f9faf8;
  font-weight: 800;
  font-size: 48px;
}
.p-hero__txt {
  margin-top: 2px;
  color: #e5e7eb;
  font-size: 18px;
}
.p-hero__btn-wrap {
  margin-top: 13px;
}
.p-hero__btn {
  display: inline-block;
  padding: 8px 34px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.02em;
}
.p-hero__img {
  flex-basis: 520px;
  margin-left: 50px;
}
.p-hero__img img {
  width: 100%;
  height: auto;
}

.p-info {
  margin-top: 50px;
}
.p-info__ttl {
  color: #1f2937;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
}
.p-info__content {
  margin-top: 48px;
}
.p-info__item-wrap {
  display: grid;
  grid-template-columns: repeat(4, 168px);
  justify-content: center;
  gap: 48px;
}
.p-info__item-img {
  border: 4px solid #3882f6;
  border-radius: 16px;
  overflow: hidden;
}
.p-info__item-img img {
  width: 100%;
}
.p-info__item-txt {
  margin-top: 8px;
  padding: 0 2px;
  font-size: 18px;
  text-align: center;
}

.p-quote {
  margin-top: 120px;
  background-color: #e5e7eb;
}
.p-quote__inner {
  padding: 132px 135px 102px;
}
.p-quote__col {
  margin-right: -30px;
}
.p-quote__txt {
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
}
.p-quote__cite {
  display: block;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  text-align: right;
}

.p-contact {
  margin-top: 100px;
}
.p-contact__inner {
  display: flex;
  justify-content: space-between;
  padding: 50px 120px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #fff;
}
.p-contact__ttl {
  font-weight: 800;
  font-size: 24px;
}
.p-contact__txt {
  font-size: 18px;
}
.p-contact__btn-wrap {
  margin-top: 10px;
}
.p-contact__btn {
  display: inline-block;
  padding: 7px 33px;
  border-radius: 8px;
  background-color: #3882f6;
  color: #fff;
  border: 1px solid;
  font-size: 18px;
  letter-spacing: 0.02em;
}
